**Question 1**. Write a function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [ ]:
def sum_even(l):
  return sum(l)

def even(n):
  l = []
  for i in n:
    if i%2==0:
      l.append(i)
  return sum(l)

In [ ]:
a = [1, 2, 3, 4, 8, 5, 2,13, 0, 18, 20]
even(a)

54

**Question 2.** Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def string(a):
  return a[::-1]
string("I am intersted in learning Data Analytics")

'scitylanA ataD gninrael ni detsretni ma I'

**Question 3.** Implement a python function that takes a list of integers and returns a new list containing the squares of numbers.

In [ ]:
def square(n):
  l = []
  for i in n:
    if type(i) == int:
        l.append(i**2)
  return l

In [ ]:
b = [5,10,15,20,25,30,-35]
square(b)

[25, 100, 225, 400, 625, 900, 1225]

In [ ]:
def square_n(n):
  l = []
  for i in range(n):
    l.append(i**2)
  return l

In [ ]:
square_n(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Question 4.** Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def prime(n):
  if n<2:
    return False
  for i in range(2,n):
    if n%i ==0:
      return False
    return True

In [ ]:
prime(20)

False

In [ ]:
# check and print prime number
for i in range(1,201):
  if prime(i):
    print(i, end = ", ")

3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199,

**Question 5.** Create an iterator class in python that generates the Fibonacci sequence up to a specified number of terms.

In [ ]:
def fib(n):
  x = 0
  y = 1
  for i in range(n):
    yield x
    x, y = y, x+y

In [ ]:
f = fib(7)
f

In [ ]:
next(f)

0

In [ ]:
next(f)

1

In [ ]:
next(f)

1

In [ ]:
next(f)

2

In [ ]:
next(f)

3

In [ ]:
next(f)

5

In [ ]:
next(f)

8

**Question 6.** Write a generator function in python that yields the power of 2 up to a given exponent.

In [ ]:
def power(exp):
  for i in range(exp+1):
    yield 2**i

In [ ]:
x = power(5)
x

In [ ]:
next(x)

1

In [ ]:
next(x)

2

In [ ]:
next(x)

4

In [ ]:
next(x)

8

In [ ]:
next(x)

16

In [ ]:
next(x)

32

**Question 7.** Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def read_file(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line

In [ ]:
for line in read_file('/content/earth_facts.txt'):
    print(line)

Earth is the third planet from the Sun.

It is the only astronomical object known to harbor life.

About 71% of Earth's surface is covered by water.

The remaining 29% is land consisting of continents and islands.

**Question 8.** Use a lambda function in python to sort a list of tuples based on the second element of each tuple.

In [ ]:
t = [(1,7),(2,4),(5,2)]
sorted(t,key = lambda x:x[1])

[(5, 2), (2, 4), (1, 7)]

**Question 9.** Write a Python program that uses map() to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
l = [0, 20, 33, 50, 100]
list(map(lambda x : x*(9/5)+32, l))

[32.0, 68.0, 91.4, 122.0, 212.0]

**Question 10.** Create a python program that uses filter() to remove all the vowels from a given string.

In [ ]:
input = "Hello Python"
vowels = "aeiouAEIOU"
filtered = filter(lambda i: i not in vowels, input)

result = ""
for i in filtered:
    result = result +i

print(result)

Hll Pythn

**Question 11**. Imagine an accounting routine used in a book shop. It works on a liat with sublists, which look like this:
Write a python program, which returns a list with
-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10€, if the value of the order is smaller than 100€.
Write a python program using lambda and map.

---

In [ ]:
 l = """order number\tBook Title and Author\t\t\tQuantity\tPrice per item\n
34587\t\tLearning Python, Mark Lutz\t\t  4\t\t40.95\n
98762\t\tProgramlming Python, Mark Lutz\t\t  5\t\t56.80\n
77226\t\tHead First Python, Paul Barry\t \t  3\t\t32.95\n
88112\t\tführung in PythEinon3, Bernd Klein\t  3\t\t24.99"""
print(l)

order number	Book Title and Author			Quantity	Price per item

34587		Learning Python, Mark Lutz		  4		40.95

98762		Programlming Python, Mark Lutz		  5		56.80

77226		Head First Python, Paul Barry	 	  3		32.95

88112		führung in PythEinon3, Bernd Klein	  3		24.99

In [1]:
# List of orders
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Eührung in PythEinon3, Bernd Klein", 3, 24.99]
]

# Function to calculate total cost with condition
def calculate_order_totals(orders):
    result = []
    for order in orders:
        order_number = order[0]
        quantity = order[2]
        price_per_item = order[3]
        total_cost = quantity * price_per_item

        # Increase by 10 € if total_cost is less than 100 €
        if total_cost < 100:
            total_cost += 10

        # Append the tuple (order_number, total_cost) to the result list
        result.append((order_number, round(total_cost, 2)))

    return result

# Call the function and print the result
order_totals = calculate_order_totals(orders)
print(order_totals)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]